<%= javascript_include_tag params[:controller] %>

<h1>Woah <span>.</span></h1>
<div class="box" id="1">
<form name="question" method="get">
Question: <input type="text" name="command" class="question">
 <button>Submit</button>
</form>

<div id="session_id" style="visibility: hidden">
  <%=@user_id%>
</div>

<ol class="list" id="2">
  <% @answered_questions.each do |question| %>
    <li> <%= question.details %> |
      <%= link_to('Woah!', vote_up_question_path(question), :method => :post) %> |
      <%= question.votes_for %>
    </li>
  <% end %>
</ol>
</div>