<!DOCTYPE html>
<html>
<head>
  <title>Whoa</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
<% if logged_in? %>
<ul>
  <li><%= link_to 'All Users', users_path(@user) %></li>
  <li><%= link_to 'Logout', session_path, :method => :delete %></li>
</ul>
<% end %>   
</nav>
<%= yield %>
</body>

<footer>

<% if logged_in? #user is logged in %>
        <br>
        <br>
        <%= "#{current_user.name} is currently logged in." %><br>
        <% if current_user.name != current_user.teacher %>
          <%= "#{current_user.name} is not a teacher." %>
        <% end %>
        

<% else %>
        <br>
        <br>
        <%= "No user is currently logged in." %>

<% end %>

</footer>
</html>
