<!DOCTYPE html>
<html>
<head>
  <title>Whoa</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script src="/path/to/packery.pkgd.min.js"></script>
</head>
<body>
<nav>
<!-- start hello bar -->
<div class="hello-bar">
    <% if logged_in? %>
        <ul>
          <li><%= link_to 'All Users', users_path(@user) %></li>
          <li><%= link_to 'Logout', session_path, :method => :delete %></li>
        </ul>
      <% end %>
    <% if !logged_in? %>
        <ul>
          <li><%= link_to "Create an Account", new_user_path %></li>
          <li><%= link_to "Sign In", new_session_path %></li>
        </ul>
      <% end %>  
</div> 
<!-- end hello bar -->    
  </nav>
<%= yield %>
</body>
</html>
